[Desktop Entry]
Type=Application
Name=T3 Code (Alpha)
Exec="/home/user/Applications/T3-Code.AppImage" %U
Icon=/home/user/.local/share/icons/com.t3tools.T3Code.desktop.png
Terminal=false
NoDisplay=true
StartupNotify=false
MimeType=x-scheme-handler/t3code;
