#- name: Update Pacman
#  community.general.pacman:
#    update_cache: true
#    upgrade: true

- name: Upgrade Packages
  package:
    update_cache: yes
    upgrade: safe 
  become: yes

- name: Update Nix Packages
  become_user: user
  shell:
    cmd: nix-env -iA nixpkgs.myPackages

- name: Update Homebrew and Apps
  become_user: user
  community.general.homebrew:
    update_homebrew: true
    upgrade_all: true

- name: Update all Flatpak packages
  become_user: user
  ansible.builtin.command: flatpak update -y
  register: flatpak_update
  changed_when: "'Nothing to do' not in flatpak_update.stdout"
