- name: Update Pacman
  community.general.pacman:
    update_cache: true
    upgrade: true

- name: Update Homebrew and Apps
  become_user: user
  community.general.homebrew:
    update_homebrew: true
    upgrade_all: true

- name: Get list of installed Flatpak packages
  ansible.builtin.command: flatpak list --app --columns=application
  register: flatpak_list
  changed_when: false

- name: Remove header line from flatpak_list
  set_fact:
    flatpak_list: "{{ flatpak_list.stdout_lines[1:] }}"

- name: Update Flatpak packages
  community.general.flatpak:
    name: "{{ flatpak_list }}"
    state: latest
